%section#intro_home.viewport_full

	%article.intro

		.content_wrap

			%h1 Forth
			%h2 Hand Tailored Goods From Vancouver Canada

%section#product_hoody.viewport_full

	%article.product

		.content_wrap

			%p.extra Limited Reissue
			%h3 Polish Lambswool Hoody
			%span.price $160

			%a.btn_cmn{:href => '#', :title => 'Shop Now'} Shop Now